body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  margin: 1.75rem 0 0 2rem;
  color: #000;
  line-height: 0.5;
}

h2 {
  font-size: 4rem;
  color: #bbb;
  margin-bottom: 1rem;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 80vw;
  height: 10vh;
  background-color: #ddd;
  color: #000;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80vw;
  height: 10vh;
  background-color: #ddd;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer form {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer form input {
  margin-right: 2rem;
  width: 50vw;
}

main {
  position: absolute;
  left: 0;
  top: 10vh;
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  border: 1px solid #999;
  border-left-width: 0;
  z-index: 5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
}

.user-selector {
  position: absolute;
  right: 0;
  top: 0;
  width: 20vw;
  height: 100vh;
  background-color: #ddd;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-list-item {
  height: 120px;
  padding-left: 1rem;
  font-size: 2rem;
  position: relative;
}

.user-list-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.user-list-avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 1rem;
  border: 1px solid #333;
}

.add-user-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.task-list {
  position: absolute;
  width: 50vw;
  height: 80vh;
  left: 0;
  top: 0;
  padding-left: 2rem;
}

.completed-task-list {
  position: absolute;
  width: calc(30vw - 2rem);
  height: 80vh;
  left: 50vw;
  top: 0;
  padding-left: 2rem;
}

.start-screen {
  margin-left: 2rem;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.modal-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.modal-window {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 7px;
}

.hidden {
  display: none;
}

.user-list-item-button {
  border-radius: 0;
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-list-item-button:hover,
.user-list-item-button:active {
  background-color: transparent;
}

.user-list-item-delete {
  font-size: 1rem;
  padding: 0;
  border-color: #ccc;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  visibility: hidden;
}

.user-list-item:hover .user-list-item-delete {
  visibility: visible;
}

.user-list-item.active {
  background-color: #fff;
}

.user-list-item-delete:hover {
  background-color: #ccc;
}

.task-list-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.completed-task-list-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.task-list-item {
  margin: 0.5rem 0;
  padding: 0 0.25rem;
  width: 48%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  border-radius: 7px;
  background-color: #f1f1f1;
}

.completed-task-list-container .task-list-item {
  height: 3rem;
  width: 90%;
  font-size: 1rem;
}

.task-check {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.completed-task-list-container .task-check {
  width: 1.5rem;
  height: 1.5rem;
}

.task-list-item-delete {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  margin-right: 0.5rem;
}

.completed-task-list-container .task-list-item-delete {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

.task-name {
  width: 70%;
}

.completed-task-list-container .task-name {
  width: 80%;
}
